<div class="nav-bar" [class.logged-out]="!isLoggedIn() && !isPublicPage()">
  <div class="title-and-menu">
    @if (isLoggedIn()) {
      <div class="menu-anchor">
        <button class="icon-only-button" (click)="menuOpen.set(!menuOpen())">
          <app-icon name="menu" width="1.4em" height="1.4em"></app-icon>
        </button>
        @if (menuOpen()) {
          <app-navigation-menu
            (closeMenu)="menuOpen.set(false)"
          ></app-navigation-menu>
        }
      </div>
    }

    <div class="title-container">
      <div class="breadcrumb-parents">
        @for (crumb of breadcrumbs().slice(0, -1); track $index) {
          <span class="crumb">
            @let text =
              abbreviateParents()
                ? crumb.shortLabel || crumb.label
                : crumb.label;
            @if (crumb.url) {
              <a [href]="crumb.url" class="crumb-link">{{ text }}</a>
            } @else {
              <span class="crumb-label">{{ text }}</span>
            }
            <span class="crumb-separator">&gt;</span>
          </span>
        }
      </div>
      @if (breadcrumbs().length > 0) {
        @let lastCrumb = breadcrumbs()[breadcrumbs().length - 1];
        <div class="title current-page-title" [class.doc-id]="lastCrumb.label.includes('doc:')">
          @if (lastCrumb.isLoading) {
            <div class="loading-slider"></div>
          } @else {
            {{ lastCrumb.label }}
          }
        </div>
      }
    </div>
  </div>
  @if (isLoggedIn()) {
    <app-profile-menu></app-profile-menu>
  } @else if (isPublicPage()) {
    <a class="nav-sign-in-link" [href]="'#/login?returnUrl=' + encodeCurrentUrl()">Sign In</a>
  }
</div>
