@use "../../scss_variables" as *;
@use "../../styles" as *;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-container {
  position: relative;
}

.menu {
  @extend .menu-style;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.note {
  font-size: small;
  color: #555;
}
