rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isAdmin() {
      let email = request.auth.token.email;
      return email != null && 
             exists(/databases/$(database)/documents/acl/$(email)) &&
             get(/databases/$(database)/documents/acl/$(email)).data.isAdmin == true;
    }
    match /members/{memberId} {
      function getMemberDocIds() {
        let email = request.auth.token.email;
        return (email != null && exists(/databases/$(database)/documents/acl/$(email))) 
               ? get(/databases/$(database)/documents/acl/$(email)).data.memberDocIds 
               : [];
      }
      function isOwner() {
        return (request.auth.token.email in resource.data.emails) || 
               (memberId in getMemberDocIds());
      }
      function isManagerOfMemberSchool() {
        let member = resource.data;
        let schoolId = member.managingOrgId;
        let schoolPath = /databases/$(database)/documents/schools/$(schoolId);
        return schoolId != "" && exists(schoolPath) && (
          let school = get(schoolPath).data;
          (request.auth.token.email == school.ownerEmail || request.auth.token.email in school.managerEmails)
        );
      }
      function isValidEdit() {
        return request.resource.data.lastUpdated == request.time;
      }
      allow read: if isOwner() || isAdmin() || isManagerOfMemberSchool();
      allow delete: if isAdmin(); 
      allow write: if isValidEdit() && (isAdmin() || isManagerOfMemberSchool());
      allow update: if isValidEdit() && isOwner() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['lastUpdated', 'name', 'instructorWebsite', 'publicRegionOrCity', 'publicEmail', 'publicPhone', 'address', 'zipCode', 'country', 'phone', 'emails', 'gender', 'dateOfBirth', 'sifuMemberId']);
    }

    match /schools/{schoolId} {
      function isSchoolManager() {
        let school = get(/databases/$(database)/documents/schools/$(schoolId)).data;
        return request.auth.token.email == school.ownerEmail || request.auth.token.email in school.managerEmails;
      }
      function isValidEdit() {
        return request.resource.data.lastUpdated == request.time;
      }
      allow read: if true;
      allow write: if isValidEdit() && isAdmin();
      allow delete: if isAdmin();
      allow update: if isValidEdit() && isSchoolManager() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['lastUpdated', 'schoolAddress', 'schoolZipCode', 'schoolWebsite', 'managers']);
    }

    match /instructorsPublic/{instructorId} {
      allow read: if true;
    }

    match /schools/{schoolId}/members/{memberId} {
      function isSchoolManager() {
        let school = get(/databases/$(database)/documents/schools/$(schoolId)).data;
        return request.auth.token.email == school.ownerEmail || request.auth.token.email in school.managerEmails;
      }
      allow read: if isAdmin() || isSchoolManager();
    }

    match /acl/{email} {
      allow read: if request.auth.token.email == email || isAdmin();
      allow write: if isAdmin();
    }

    match /static/country-codes {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }

    match /counters/singleton {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}