@let u = stateService.user();
@if (loading() || !u) {
  <app-spinner></app-spinner>
} @else if (error()) {
  <p class="error">{{ error() }}</p>
} @else {
  <div class="search-header">
    <div class="search-box">
      <app-icon class="search-icon" name="search"></app-icon>
      <input
        id="search-input"
        type="text"
        placeholder="Search schools by name, ID, city or country..."
        (input)="onSearch($event)"
      />
    </div>
    @if (u.isAdmin) {
      <button (click)="onNewSchool()">New School</button>
    }
  </div>

  @if (errorsExist()) {
    <div class="error-box">
      <div class="error-box-header" (click)="toggleErrors()">
        <app-icon
          [name]="showErrors() ? 'expand_more' : 'expand_less'"
        ></app-icon>
        <span
          >There are entries with duplicate IDs ({{
            duplicateEntries().length
          }})</span
        >
      </div>
      @if (showErrors()) {
        <div class="error-box-content">
          <p class="error-hint">
            Please resolve these duplicate IDs to ensure data integrity.
          </p>
          <div class="member-cards">
            @for (school of duplicateEntries(); track school.id) {
              <div class="member-card duplicate">
                <app-school-edit
                  [school]="school"
                  [allSchools]="schools()"
                ></app-school-edit>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
  <div class="member-cards">
    @if (isAddingSchool()) {
      <div class="member-card">
        <app-school-edit
          [school]="newSchool()"
          [allSchools]="schools()"
          [collapse]="false"
          (close)="onNewSchoolClose()"
          [canDelete]="false"
        ></app-school-edit>
      </div>
    }
    @for (school of schools(); track school.id) {
      <div class="member-card">
        <app-school-edit
          [school]="school"
          [allSchools]="schools()"
          (close)="($event)"
        ></app-school-edit>
      </div>
    }
    @if (schools().length < totalSchools()) {
      <div class="show-more-container">
        <button class="show-more-button" (click)="showAll()">
          Show all {{ totalSchools() }} schools
        </button>
      </div>
    }
  </div>
}
