<div class="instructor-search-container">
  <div class="search-box">
    <app-icon class="search-icon" name="search"></app-icon>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search by name, city, or country..."
    />
  </div>

  <div class="results-container">
    <div *ngIf="filteredInstructors().length > 0; else noResults">
      <div
        *ngFor="let instructor of filteredInstructors()"
        class="instructor-card"
      >
        <h3>{{ instructor.name }}</h3>
        <p>{{ instructor.city }}, {{ instructor.country }}</p>
      </div>
    </div>
    <ng-template #noResults>
      <p>No instructors found.</p>
    </ng-template>
  </div>
</div>
