<div class="card-header">
  <div class="card-title" (click)="toggleExpansion()">
    <div class="title-text">{{ event().title }}</div>
    <button class="icon-only-button">
      <app-icon [name]="expandIconName()"></app-icon>
    </button>
  </div>
  <div class="card-subtitle">
    <div class="subtitle-group">
      <!-- date & icon link to cal -->
      <span>
        @if (event().start === event().end) {
          {{ event().start | date: "mediumDate" }}
        } @else {
          {{ event().start | date: "mediumDate" }} -
          {{ event().end | date: "mediumDate" }}
        }
        @if (event().googleCalEventLink) {
          <a class="icon-only-button"
            [href]="event().googleCalEventLink"
            target="_blank"
            rel="noopener noreferrer"
            title="View on Google Calendar"
          >
            <app-icon name="event"></app-icon>
          </a>
        }
      </span>

      <!-- location & map link -->
      @if (event().location) {
        <span>
          {{ event().location }}
          @if (event().googleMapsUrl) {
            <a class="icon-only-button"
              [href]="event().googleMapsUrl"
              target="_blank"
              rel="noopener noreferrer"
              title="View on Google Maps"
            >
              <app-icon name="map"></app-icon>
            </a>
          }
        </span>
      }
    </div>
  </div>
</div>
@if (expandIconName() === "expand_less") {
  <div class="card-content">
    <div class="description">
      <span [innerHTML]="event().description"></span>
    </div>
  </div>
}
