<div class="event-item-layout">
  @if (event().heroImageThumbUrl || event().heroImageUrl) {
    <div class="event-image-container">
      <img [src]="event().heroImageThumbUrl || event().heroImageUrl" alt="Event Image" class="event-image" />
    </div>
  }
  <div class="event-content">
    <div class="card-header">
      <div class="card-title">
        <div class="title-text">{{ event().title }}</div>
      </div>
      <div class="card-subtitle">
        <div class="subtitle-group">
          <!-- date & icon link to cal -->
          <span>
            @if (event().googleCalEventLink) {
              <a class="icon-only-button"
                [href]="event().googleCalEventLink"
                target="_blank"
                rel="noopener noreferrer"
                title="View on Google Calendar"
              >
                <app-icon name="event"></app-icon>
              </a>
            } @else {
              <span class="icon-only-button">
                <app-icon name="event"></app-icon>
              </span>
            }
            {{ dateDisplay() }}
          </span>

          <!-- location & map link -->
          @if (event().location) {
            <span>
              @if (event().googleMapsUrl) {
                <a class="icon-only-button"
                  [href]="event().googleMapsUrl"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="View on Google Maps"
                >
                  <app-icon name="map"></app-icon>
                </a>
              } @else {
                <span class="icon-only-button">
                  <app-icon name="map"></app-icon>
                </span>
              }
              {{ event().location }}
            </span>
          }

          <!-- instructor -->
          @if (instructorLabel()) {
            <a class="instructor-link"
              [href]="instructorLink()"
              title="View instructor profile"
              (click)="$event.stopPropagation()">
              <app-icon name="salut"></app-icon>
              Instructor: {{ instructorLabel() }}
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</div>

