<div class="event-item-layout">
  <div class="card-title">
    <div class="title-text">{{ event().title }}</div>
  </div>
  <div class="detail-row">
    @if (event().heroImageThumbUrl || event().heroImageUrl) {
      <div class="event-image-container">
        <img [src]="event().heroImageThumbUrl || event().heroImageUrl" alt="Event Image" class="event-image" />
      </div>
    }
    <div class="event-content">
      <div class="card-subtitle">
        <div class="subtitle-group">
          <!-- date & icon link to cal -->
          <span>
            @if (event().googleCalEventLink) {
              <a class="icon-only-button"
                [href]="event().googleCalEventLink"
                target="_blank"
                rel="noopener noreferrer"
                title="View on Google Calendar"
              >
                <app-icon name="event"></app-icon>
              </a>
            } @else {
              <span class="icon-only-button">
                <app-icon name="event"></app-icon>
              </span>
            }
            <span class="detail-text">{{ dateDisplay() }}</span>
          </span>

          <!-- location & map link -->
          @if (event().location) {
            <span>
              @if (event().googleMapsUrl) {
                <a class="icon-only-button"
                  [href]="event().googleMapsUrl"
                  target="_blank"
                  rel="noopener noreferrer"
                  title="View on Google Maps"
                >
                  <app-icon name="location_on"></app-icon>
                </a>
              } @else {
                <span class="icon-only-button">
                  <app-icon name="location_on"></app-icon>
                </span>
              }
              <span class="detail-text">{{ event().location }}</span>
            </span>
          }
        </div>

        <!-- instructor (always on its own line) -->
        @if (instructorLabel()) {
          <div>
          <a class="instructor-link"
            [href]="instructorLink()"
            title="View instructor profile"
            (click)="$event.stopPropagation()">
            <span class="icon-only-button">
              <app-icon name="salut"></app-icon>
            </span>
            <span class="detail-text">Instructor: {{ instructorLabel() }}</span>
          </a>
          </div>
        }
        @if (contactLabel()) {
          <div>
          <a class="instructor-link"
            [href]="contactLink()"
            title="View contact profile"
            (click)="$event.stopPropagation()">
            <span class="icon-only-button">
              <app-icon name="person"></app-icon>
            </span>
            <span class="detail-text">Contact: {{ contactLabel() }}</span>
          </a>
          </div>
        }
      </div>
    </div>
  </div>
</div>



