<div class="school-search-container">
  <div class="search-box">
    <app-icon class="search-icon" name="search"></app-icon>
    <input id="search-input" type="text" [(ngModel)]="searchTerm" placeholder="Search by name, city, or country..." />
  </div>

  <div class="results-container">
    @if (dataManager.schools.loading()) {
    <app-spinner></app-spinner>
    } @else {
    @if (filteredSchools().length > 0) {
    @for (school of filteredSchools(); track school.docId) {
    <div class="school-card">
      <div class="school-header">
        @if (school.schoolId) {
          <span class="school-id-chip">{{ school.schoolId }}</span>
        }
        <h3>{{ school.schoolName }}</h3>
        <div class="school-header-details">
          @if (dataManager.instructors.get(school.ownerInstructorId); as owner) {
            <div class="header-detail">
              <app-icon name="person"></app-icon>
              <a class="subtle-button" [href]="'#/find-an-instructor?instructorId=' + school.ownerInstructorId">{{ owner.name }}</a>
            </div>
          }
          <div class="header-detail">
            <app-icon name="location_on"></app-icon>
            <span>@if (school.schoolCity) {{{ school.schoolCity }}@if (school.schoolCountyOrState || school.schoolCountry) {, }}@if (school.schoolCountyOrState) {{{ school.schoolCountyOrState }}@if (school.schoolCountry) {, }}@if (school.schoolCountry) {{{ school.schoolCountry }}}</span>
          </div>
        </div>
      </div>

      <div class="school-details">
        @if (school.schoolWebsite) {
        <div class="detail-row">
          <app-icon name="link"></app-icon>
          <a [href]="ensureHttps(school.schoolWebsite)" target="_blank" rel="noopener noreferrer">{{ school.schoolWebsite }}</a>
        </div>
        }

        @if (school.schoolClassGoogleCalendarId) {
        <div class="detail-row">
          <app-icon name="calendar_today"></app-icon>
          <a class="subtle-button" [href]="'#/calendar/school/' + school.schoolId">Class Calendar</a>
        </div>
        }
      </div>
    </div>
    }
    } @else {
    <p>No schools found.</p>
    }
    }
  </div>
</div>