@use "../../scss_variables" as v;

.selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.selected-note {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 0.85em;
}
