@use "../../scss_variables" as v;

.search-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  padding: v.$card-padding;
  flex-grow: 0;

  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    color: v.$text-placeholder;
  }

  input[type="text"] {
    padding: 8px 8px 8px 35px; /* Left padding to make space for the icon */
    border: 1px solid v.$border-color-light;
    border-radius: 20px;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
    flex-grow: 1;

    &:focus {
      border-color: v.$focus-ring-color;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }
}

.grading-cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  flex-grow: 1;
}

.grading-card {
  display: block;
  border-bottom: 1px solid v.$row-border-color;
  @include v.row-highlight-base;
  cursor: pointer;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;

  &:hover {
    @include v.row-highlight-active;
  }
}

.create-form-container {
  border: 1px solid v.$theme-border-color;
  background: white;
  border-radius: 8px;
  padding: 0.5em;
  margin-bottom: 1em;

  h3 {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
  }
}

.show-more-container {
  display: flex;
  justify-content: center;
  padding: 1em;

  .show-more-button {
    padding: 8px 16px;
    cursor: pointer;
  }
}

.empty-state {
  text-align: center;
  padding: 2em;
  color: v.$text-placeholder;
}
