<div class="edit-form">
  <form #memberForm="ngForm" (ngSubmit)="saveMember()">
    <h3>Public Information</h3>
    <div class="form-section">
      <label for="name">Name</label>
      <input
        class="long"
        type="text"
        id="name"
        name="name"
        [(ngModel)]="editableMember.public.name"
        #name="ngModel"
        required
      />
      @if(name.invalid) {
      <div class="error">Name is required.</div>
      }

      <label for="email">Email</label>
      <input
        class="long"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="editableMember.public.email"
        (ngModelChange)="isDupEmail()"
        #email="ngModel"
        required
        email
      />
      @if (emailExists) {
      <div class="error">This email address is already in use.</div>
      } @else if (email.invalid) {
      <div class="error">Please enter a valid email address.</div>
      }

      <label for="website">Website</label>
      <input
        class="long"
        type="text"
        id="website"
        name="website"
        [(ngModel)]="editableMember.public.website"
      />

      <label for="address">Address</label>
      <textarea
        class="long"
        id="address"
        name="address"
        [(ngModel)]="editableMember.public.address"
      ></textarea>

      <label for="phone">Phone</label>
      <input
        type="text"
        id="phone"
        name="phone"
        [(ngModel)]="editableMember.public.phone"
      />

      <label for="country">Country</label>
      <input
        type="text"
        id="country"
        name="country"
        [(ngModel)]="editableMember.public.country"
      />

      <label for="studentLevel">Student Level</label>
      <input
        type="text"
        id="studentLevel"
        name="studentLevel"
        [(ngModel)]="editableMember.public.studentLevel"
      />

      <label for="applicationLevel">Application Level</label>
      <input
        type="text"
        id="applicationLevel"
        name="applicationLevel"
        [(ngModel)]="editableMember.public.applicationLevel"
      />

      <label for="isSchoolManager">School Manager</label>
      <input
        type="checkbox"
        id="isSchoolManager"
        name="isSchoolManager"
        [(ngModel)]="editableMember.public.isSchoolManager"
      />

      @if(editableMember.public.isSchoolManager) {
      <label for="schoolName">School Name</label>
      <input
        class="long"
        type="text"
        id="schoolName"
        name="schoolName"
        [(ngModel)]="editableMember.public.schoolName"
      />
      }

      <label for="isCountryManager">Country Manager</label>
      <input
        type="checkbox"
        id="isCountryManager"
        name="isCountryManager"
        [(ngModel)]="editableMember.public.isCountryManager"
      />

      @if(editableMember.public.isCountryManager) {
      <label for="country">Country Managed</label>
      <input
        class="long"
        type="text"
        id="country"
        name="country"
        [(ngModel)]="editableMember.public.countryManaged"
      />
      }
    </div>

    <h3>Internal Information</h3>

    <div class="form-section">
      <label for="lastPaymentDate">Last Payment Date</label>
      <input
        type="date"
        id="lastPaymentDate"
        name="lastPaymentDate"
        [ngModel]="editableMember.internal.lastPaymentDate"
        (ngModelChange)="editableMember.internal.lastPaymentDate = $event"
      />

      <label for="lastPaymentAmount">Last Payment Amount</label>
      <input
        type="number"
        id="lastPaymentAmount"
        name="lastPaymentAmount"
        [(ngModel)]="editableMember.internal.lastPaymentAmount"
      />

      <label for="lastPaymentId">Last Payment ID</label>
      <input
        type="number"
        id="lastPaymentId"
        name="lastPaymentId"
        [(ngModel)]="editableMember.internal.lastPaymentId"
      />

      <label for="membershipExpires">Membership Expires</label>
      <input
        type="date"
        id="membershipExpires"
        name="membershipExpires"
        [ngModel]="editableMember.internal.membershipExpires"
        (ngModelChange)="editableMember.internal.membershipExpires = $event"
      />

      <label for="memberId">Member ID</label>
      <input
        type="text"
        id="memberId"
        name="memberId"
        [(ngModel)]="editableMember.internal.memberId"
        (ngModelChange)="isDupMemberId()"
        #memberId="ngModel"
        [required]="editableMember.id !== ''"
      />
      @if(memberId.invalid) {
      <div class="error">Member ID is required.</div>
      } @else if(memberIdExists) {
      <div class="error">This member ID is already in use.</div>
      }

      <label for="isInstructor">Is Instructor</label>
      <input
        type="checkbox"
        id="isInstructor"
        name="isInstructor"
        [(ngModel)]="editableMember.internal.isInstructor"
      />

      @if(editableMember.internal.isInstructor) {
      <label for="instructorLicenseExpires">Instructor License Expires</label>
      <input
        type="date"
        id="instructorLicenseExpires"
        name="instructorLicenseExpires"
        [ngModel]="editableMember.internal.instructorLicenseExpires"
        (ngModelChange)="
          editableMember.internal.instructorLicenseExpires = $event
        "
      />
      }

      <label for="sifuName">Sifu Name</label>
      <input
        type="text"
        id="sifuName"
        name="sifuName"
        [(ngModel)]="editableMember.internal.sifuName"
      />

      <label for="sifuMemberId">Sifu Member ID</label>
      <input
        type="text"
        id="sifuMemberId"
        name="sifuMemberId"
        [(ngModel)]="editableMember.internal.sifuMemberId"
      />

      <label for="isAdmin">Is Admin</label>
      <div>
        <input
          type="checkbox"
          id="isAdmin"
          name="isAdmin"
          [(ngModel)]="editableMember.isAdmin"
        />
        (can edit all members)
      </div>
    </div>

    @if (errorMessage()) {
    <div class="error-container">
      <div class="error-message">
        {{ errorMessage() }}
        <button class="close-button" (click)="closeError()">
          <app-icon name="close" />
        </button>
      </div>
    </div>
    }
    <div class="form-actions">
      @if(isSaving()) {
      <app-spinner></app-spinner>
      } @else {
      <button
        type="submit"
        [disabled]="emailExists || memberIdExists || memberForm.invalid"
      >
        Save
      </button>

      <button type="button" (click)="cancel($event)">Cancel</button>
      @if(canDelete()) {
      <button class="delete-button" (click)="deleteMember($event)">
        <app-icon name="trash" fill="white" />
        Delete
      </button>
      } }
    </div>
  </form>
</div>
