@use "../scss_variables" as *;
@use "../styles" as *;

.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}

main {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  flex-grow: 1;
  gap: 1em;

  h1 {
    margin-top: 1em;
    text-align: center;
  }
}

.login-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.password-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.login-errors {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
  max-width: 30em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  flex-grow: 0;

  background-color: $theme-bg-color;
  border-bottom: 2px solid $theme-border-color;
  padding: 0.5em 0.5em;

  .title {
    font-size: large;
    font-weight: bold;
  }
}

.title-and-menu {
  position: relative; /* Establish a positioning context for the menu */
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon-only-button {
    margin-right: 0.3em;
  }
}

.menu {
  @extend .menu-style;
  position: absolute;
  top: calc(100% + 5px); /* Position below the button with a 5px gap */
  left: 0;
}
