<div class="app-container">
  @let user = firebaseService.user();

  <!-- @if(firebaseService.loggingIn()) { Logging
  in... } @else 
   -->
  @if (user) {

  <div class="nav-bar">
    <div class="title-and-menu">
      @if (firebaseService.userIsAdmin()) {
      <button class="icon-only-button" (click)="menuOpen.set(!menuOpen())">
        <app-icon name="menu"></app-icon>
      </button>
      @if(menuOpen()) {
      <div class="menu">
        <div
          class="menu-item"
          (click)="currentView.set(Views.Members); menuOpen.set(false)"
        >
          Members
        </div>
        <div
          class="menu-item"
          (click)="currentView.set(Views.ImportExport); menuOpen.set(false)"
        >
          Import/Export
        </div>
        <div
          class="menu-item"
          (click)="currentView.set(Views.FindAnInstructor); menuOpen.set(false)"
        >
          Find an Instructor
        </div>
      </div>
      } }
      <div class="title">{{ currentViewTitle() }}</div>
    </div>
    <div class="who">
      <app-profile-menu></app-profile-menu>
    </div>
  </div>
  @if (logoutError(); as message) {
  <div class="error">
    <span>{{ message }}</span>
  </div>
  }
  <main class="main">
    @if (firebaseService.loggingIn()) {
    <app-spinner></app-spinner>
    } @else { @if (firebaseService.userIsAdmin()) { @switch (currentView()) {
    @case (Views.Members) {
    <app-member-list></app-member-list>
    } @case (Views.ImportExport) {
    <app-member-import-export></app-member-import-export>
    } @case (Views.FindAnInstructor) {
    <app-find-an-instructor></app-find-an-instructor>
    } } } @else { @if (firebaseService.userAsMember(); as member) {
    <app-member-view [member]="member"></app-member-view>
    } @else {
    <app-unauthorized></app-unauthorized>
    } } }
  </main>
  } @else {
  <h1>ILC Members Manager</h1>
  <main class="main">
    <div class="login-options">
      <div class="card email-login">
        <div>
          Email:
          <input
            #email
            type="email"
            name="email"
            ngModel
            required
            placeholder="Email"
          />
        </div>
        <div>
          Password:
          <input
            #password
            type="password"
            name="password"
            ngModel
            required
            placeholder="Password"
          />
        </div>
        <div class="buttons">
          <button
            (click)="loginWithEmail(email.value, password.value)"
            [disabled]="!email.value || !password.value"
          >
            Login
          </button>
          <button
            (click)="signupWithEmail(email.value, password.value)"
            [disabled]="!email.value || !password.value"
          >
            Signup
          </button>
        </div>

        @if (signupError(); as message) {
        <div class="error">
          <span>{{ message }}</span>
        </div>
        } @if (loginWithEmailError(); as message) {
        <div class="error">
          <span>{{ message }}</span>
        </div>
        } @if (invalidLoginCredentials()) {
        <p>
          Your password is invalid. Do you want to
          <button (click)="resetPassword(email.value)">
            reset your password
          </button>
          ?
        </p>
        } @if (resetPasswordSuccess(); as message) {
        <div class="success">
          <span>{{ message }}</span>
        </div>
        } @if (resetPasswordError(); as message) {
        <div class="error">
          <span>{{ message }}</span>
        </div>
        }
      </div>

      <div class="card google-login">
        <button (click)="loginWithGoogle()">Login with Google</button>
        @if (loginWithGoogleError(); as message) {
        <div class="error">
          <span>{{ message }}</span>
        </div>
        }
      </div>
    </div>
  </main>
  }
  <app-footer></app-footer>
</div>
