@use "../scss_variables" as *;
@use "../styles" as *;

.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}

h1 {
  margin: 1em;
}

main {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-grow: 1;
}

.email-login {
}

.login-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
  align-items: start;
  gap: 1em;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  flex-grow: 0;

  background-color: $theme-bg-color;
  border-bottom: 2px solid $theme-border-color;
  padding: 0.5em 1em;

  .title {
    font-size: large;
    font-weight: bold;
  }

  .who {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}

.title-and-menu {
  position: relative; /* Establish a positioning context for the menu */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu {
  @extend .menu-style;
  position: absolute;
  top: calc(100% + 5px); /* Position below the button with a 5px gap */
  left: 0;
}

.menu-item {
  cursor: pointer;
}
