@use "../../scss_variables" as *;
@use "../edit-form.scss" as *;

:host {
  display: block;
  border-top: 1px solid #ddd;
  padding: $card-padding;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  flex-grow: 1;

  &:hover {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.instructor-card-header {
  @extend .form-header;

  .name {
    font-size: 1.1em;
  }

  .identifier-subtle {
    font-size: 0.9em;
    color: #666;
  }

  .city-and-country {
    display: flex;
    align-items: center;
    gap: 0.2em;
    flex-wrap: wrap;

    .icon-link {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.tags-display {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}