@let i = instructor();

<div class="instructor-card-header">
  <div class="identifier-chip">
    <span>{{ i.memberId }}</span>
    <span>-{{ i.instructorId }}</span>
  </div>
  <div class="name">
    {{ i.name }}
  </div>
  <div class="level">
    @if (i.studentLevel) {
      <span>Student {{ i.studentLevel }}, </span>
    }
    @if (i.applicationLevel) {
      <span>Application {{ i.applicationLevel }}</span>
    }
  </div>
  <div class="city-and-country">
    @if (i.publicRegionOrCity) {
      <span class="city">{{ i.publicRegionOrCity }}, </span>
    }
    <span class="country">{{ i.country }}</span>
  </div>
  @if (i.publicEmail) {
    <div class="email">
      <a [href]="'mailto:' + i.publicEmail">{{ i.publicEmail }}</a>
    </div>
  }
  @if (i.publicPhone) {
    <div class="phone">
      <a [href]="'tel:' + i.publicPhone">{{ i.publicPhone }}</a>
    </div>
  }
  @if (i.instructorWebsite) {
    <div class="website">
      <a [href]="i.instructorWebsite" target="_blank">Website</a>
    </div>
  }
</div>
