@use "../../scss_variables" as *;
@use "../edit-form.scss" as *;

:host {
  display: block;
  border-top: 1px solid #ddd;
  padding: $card-padding;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  flex-grow: 1;

  &:hover {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.instructor-card-header {
  @extend .form-header;

  .name {
    font-size: 1.1em;
  }

  .identifier-subtle {
    font-size: 0.9em;
    color: #666;
  }

  .city-and-country {
    display: flex;
    align-items: center;
    gap: 0.2em;
    flex-wrap: wrap;

    .icon-link {
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}


.tags-display {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.search-button {
  // Inherit font styles for consistency
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 500; // Slightly bolder for emphasis

  // Sizing and spacing
  border-radius: 0.3em;

  // Colors and borders
  color: $button-text-color;
  background-color: $button-bg-color;
  border: 1px solid $button-border-color;

  // Interaction
  cursor: pointer;
  // A subtle shadow for a "raised" Material Design effect.
  box-shadow: 0 2px 4px $shadow-color;
  // Smooth transitions for hover and active states.
  transition: all 0.2s ease-in-out;

  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.3em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  text-decoration: none;

  &:hover {
    // On hover, slightly darken the background and increase the shadow for a "lift" effect.
    background-color: $button-hover-bg-color;
    box-shadow: 0 4px 8px $shadow-color-hover;
  }

  &:active {
    // When pressed, simulate a "push" effect by moving the button down slightly.
    transform: translateY(2px);
    background-color: $button-active-bg-color;
    box-shadow: 0 1px 2px $shadow-color-active;
  }
}
