@let i = instructor();

<div class="instructor-card-header">
  <div class="name">
    @if (i.instructorWebsite) {
    <a [href]="ensureUrl(i.instructorWebsite)" target="_blank">
      {{ i.name }}
    </a>
    } @else {
    {{ i.name }}
    }
  </div>
  <div class="identifier-subtle">
    @if (i.tags && i.tags.length > 0) {
    <div class="tags-display">
      @for (tag of i.tags; track tag) {
      <span class="identifier-chip">{{ tag }}</span>
      }
    </div>
    }
    @if (i.studentLevel) {
      <span>Student {{ i.studentLevel }}, </span>
    }
    @if (i.applicationLevel) {
      <span>Application {{ i.applicationLevel }}</span>
    }
  </div>
  <div class="city-and-country">
    @if (i.publicRegionOrCity) {
      <span class="city">{{ i.publicRegionOrCity }}, </span>
    }
    @if (i.publicCountyOrState) {
      <span class="county-state">{{ i.publicCountyOrState }}, </span>
    }
    <span class="country">{{ i.country }}</span>
    @if (getMapsUrl(); as mapsUrl) {
    <a [href]="mapsUrl" target="_blank" class="icon-link">
      <app-icon name="map" width="16px" height="16px"></app-icon>
    </a>
    }
  </div>
  @if (i.publicEmail) {
    <div class="email">
      <a [href]="'mailto:' + i.publicEmail">{{ i.publicEmail }}</a>
    </div>
  }
  @if (i.publicPhone) {
    <div class="phone">
      <a [href]="'tel:' + i.publicPhone">{{ i.publicPhone }}</a>
    </div>
  }
  @if (!i.instructorWebsite && !i.publicEmail && !i.publicPhone) {
  <div class="search-container">
    <a [href]="getSearchUrl()" target="_blank" class="search-button">
      Search for Instructor
    </a>
    </div>
  }
</div>
