<div class="propose-event-container">
  <div class="intro-text">
    <p>
      This form is to propose to HQ that you organise an I Liq Chuan event.
      Please make sure the instructor you have listed has already agreed to the
      proposal (they will need to confirm in the members portal).
    </p>
    <p>
      The proposal will then be reviewed by headquareters and you will be
      contacted once it has been approved (or rejected if the timing and
      location is not compatible with other events).
    </p>
  </div>

  <form (submit)="onSubmit()">
    <div class="input-field">
      <label for="title" [class.invalid]="proposeForm.title().errors()"
        >Title *</label
      >
      <input
        id="title"
        type="text"
        [formField]="proposeForm.title"
        placeholder="Event Title"
      />
    </div>

    <div class="input-field">
      <label for="start" [class.invalid]="proposeForm.start().errors()"
        >Start Date *</label
      >
      <input id="start" type="date" [formField]="proposeForm.start" />
    </div>

    <div class="input-field">
      <label for="end" [class.invalid]="proposeForm.end().errors()"
        >End Date *</label
      >
      <input id="end" type="date" [formField]="proposeForm.end" />
    </div>

    <div class="input-field">
      <div class="instructor-id-selection">
        <label for="leadingInstructor">Instructor</label>
        <app-autocomplete
          name="Leading Instructor"
          [searchableSet]="membersService.instructors"
          [placeholder]="'Search for an instructor'"
          [displayFns]="instructorDisplayFns"
          [searchOptions]="{
            strictDigits: true,
            interpretQuotesAsStrict: true,
          }"
          [initSearchTerm]="eventModel().leadingInstructorId"
          (textUpdated)="updateLeadingInstructorId($event)"
        ></app-autocomplete>
      </div>
      @if (
        membersService.instructors.get(eventModel().leadingInstructorId);
        as instructorData
      ) {
        <div class="leading-instructor-name">{{ instructorData.name }}</div>
        <div class="intro-text">
          This is the instructor who will lead training, please make sure you've
          contacted them and they have agreed. Once this form has been
          submitted, they will need to confirm their desire to lead training at
          this event.
        </div>
      } @else {
        <div class="error-message">
          Please select a valid instructor ID for the person who will be leading
          training at this event.
        </div>
      }
    </div>

    <div class="input-field">
      <label for="location">Location</label>
      <input
        id="location"
        type="text"
        [formField]="proposeForm.location"
        placeholder="Location"
      />
    </div>

    <div class="input-field">
      <label for="description">Description</label>
      <div class="description-container">
        <app-mobile-editor
          [initialValue]="eventModel().description"
          (changed)="onDescriptionChanged($event)"
        ></app-mobile-editor>
      </div>
    </div>

    @if (errorMessage(); as msg) {
      <div class="error-container">
        <span class="error-message">{{ msg }}</span>
      </div>
    }

    @if (successMessage(); as msg) {
      <div class="success-message">{{ msg }}</div>
    }

    <div class="actions">
      <button type="submit" [disabled]="isSaving() || !proposeForm().valid()">
        @if (isSaving()) {
          <app-spinner>Submitting...</app-spinner>
        } @else {
          Submit Proposal
        }
      </button>
    </div>
  </form>
</div>
