<div class="menu-overlay" (click)="closeMenu.emit()"></div>
@if (user(); as u) {
  <div class="menu">
    <div class="menu-item" (click)="onSelect(Views.Home)">
      <app-icon name="home" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.Home) }}</span>
    </div>

    <div class="menu-seperator"></div>

    <div class="menu-item" (click)="onSelect(Views.MembersArea)">
      <app-icon name="hands_lotus" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.MembersArea) }}</span>
    </div>
    @if (u.member.instructorId) {
      <div class="menu-item" (click)="onSelect(Views.InstructorsArea)">
        <app-icon name="meditation" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.InstructorsArea) }}</span>
      </div>
    }
    <div class="menu-item" (click)="onSelect(Views.ClassVideoLibrary)">
      <app-icon name="video_library" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.ClassVideoLibrary) }}</span>
    </div>

    <!-- Public -->
    <div class="menu-item" (click)="onSelect(Views.FindSchool)">
      <app-icon name="map" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.FindSchool) }}</span>
    </div>
    <div class="menu-item" (click)="onSelect(Views.FindAnInstructor)">
      <app-icon name="search" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.FindAnInstructor) }}</span>
    </div>

    <div class="menu-seperator"></div>

    <!-- Personal -->
    <div class="menu-item" (click)="onSelect(Views.MyProfile)">
      <app-icon name="person" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.MyProfile) }}</span>
    </div>
    <div class="menu-item" (click)="onSelect(Views.MemberGradings)">
      <app-icon name="mountain" width="24px" height="24px"></app-icon>
      <span>{{ viewIdToTitle(Views.MemberGradings) }}</span>
    </div>
    @if (u.member.instructorId) {
      <div class="menu-item" (click)="onSelect(Views.MyStudents)">
        <app-icon name="salut" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.MyStudents) }}</span>
      </div>
    }
    @if (u.schoolsManaged.length > 0) {
      <div class="menu-item" (click)="onSelect(Views.MySchools)">
        <app-icon name="map" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.MySchools) }}</span>
      </div>
    }

    @if (u.isAdmin) {
      <div class="menu-seperator"></div>
      <!-- Admin -->
      <div class="menu-item" (click)="onSelect(Views.ManageMembers)">
        <app-icon name="person" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.ManageMembers) }}</span>
      </div>
      <div class="menu-item" (click)="onSelect(Views.ManageSchools)">
        <app-icon name="map" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.ManageSchools) }}</span>
      </div>
      <div class="menu-item" (click)="onSelect(Views.ImportExport)">
        <app-icon name="link" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.ImportExport) }}</span>
      </div>
      <div class="menu-item" (click)="onSelect(Views.ManageGradings)">
        <app-icon name="mountain" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.ManageGradings) }}</span>
      </div>
      <div class="menu-item" (click)="onSelect(Views.ManageOrders)">
        <app-icon name="link" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.ManageOrders) }}</span>
      </div>
      <div class="menu-item" (click)="onSelect(Views.Settings)">
        <app-icon name="admin" width="24px" height="24px"></app-icon>
        <span>{{ viewIdToTitle(Views.Settings) }}</span>
      </div>
    }
  </div>
}
