@if (loading()) {
<div class="spinner"></div>
} @else if (error()) {
<p class="error">Error: {{ error() }}</p>
} @else {
<div class="member-list-header">
  <label>Search by name or email</label>
  <input
    type="text"
    placeholder="Search by name or email"
    (input)="onSearch($event)"
  />
</div>
<div class="member-cards">
  @for (member of members(); track member.id) {
  <div class="member-card" (click)="selectedMember.set(member)">
    @if(selectedMember() === member) {
    <app-member-edit
      [member]="member"
      [allMembers]="members()"
      (close)="selectedMember.set(null)"
    ></app-member-edit>
    } @else {
    <div class="selectable-member-card">
      <h3>{{ member.public.name }}</h3>
      <p>{{ member.public.email }}</p>
    </div>
    }
  </div>
  }
</div>
}
