@let e = member();

<div class="edit-form-header summary-row">
  <div class="summary-content">
    <div class="identifier">
      @if (e.memberId) {
        <span>{{ e.memberId }}</span>
      }
      @if (e.instructorId) {
        <span>-{{ e.instructorId }}</span>
      }
    </div>
    <div class="name">
      @if (e.name.trim() === "") {
        [Name needs to be entered]
      }
      {{ e.name }}
      @if (isDirty()) {
        <span>*</span>
      }
    </div>
    @if (isMemberLicenseExpired()) {
      <span
        class="identifier-chip"
        [class.expired-recent]="isMemberLicenseExpired() === 'recent'"
        [class.expired-old]="isMemberLicenseExpired() === 'expired'"
      >
        @if (isMemberLicenseExpired() === "recent") {
          recently expired membership
        } @else {
          membership expired
        }
      </span>
    }
    @if (isInstructorLicenseExpired()) {
      <span
        class="identifier-chip"
        [class.expired-recent]="isInstructorLicenseExpired() === 'recent'"
        [class.expired-old]="isInstructorLicenseExpired() === 'expired'"
      >
        @if (isInstructorLicenseExpired() === "recent") {
          recently expired instructor license
        } @else {
          instructor license expired
        }
      </span>
    }
    @if (e.isAdmin) {
      <app-icon name="admin"></app-icon>
    }
    @if (e.tags && e.tags.length > 0) {
      @for (tag of e.tags; track tag) {
        <span class="identifier-chip">{{ tag }}</span>
      }
    }
    <div class="city-and-country">
      @if (e.publicRegionOrCity) {
        <span class="city">{{ e.publicRegionOrCity }}, </span>
        @if (e.publicCountyOrState) {
          <span>{{ e.publicCountyOrState }}, </span>
        }
      } @else {
        @if (e.city) {
          <span class="city">{{ e.city }}, </span>
        }
        @if (e.countyOrState) {
          <span>{{ e.countyOrState }}, </span>
        }
      }
      <span class="country">{{ e.country }}</span>
    </div>
    <div class="level-info">
      @if (e.studentLevel) {
        <div class="level-chip">Student {{ e.studentLevel }}</div>
      }
      @if (e.applicationLevel) {
        <div class="level-chip">Application {{ e.applicationLevel }}</div>
      }
    </div>
  </div>
</div>
