.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.member-list-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;

  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    color: #888;
  }

  input[type="text"] {
    padding: 8px 8px 8px 35px; /* Left padding to make space for the icon */
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }
}

.member-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

.member-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
  max-width: 800px;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h3 {
    margin-top: 0;
  }
}

.selectable-member-card {
  cursor: pointer;

  h3 {
    margin-top: 0;
  }
}
