@if (loading()) {
<app-spinner></app-spinner>
} @else if (error()) {
<p class="error">{{ error() }}</p>
} @else {
<div class="search-header">
  <div class="search-box">
    <app-icon class="search-icon" name="search"></app-icon>
    <input
      type="text"
      placeholder="Search by name or email"
      (input)="onSearch($event)"
    />
  </div>
  @if(canMakeNewMembers()) {
  <button (click)="onNewMember()">New Member</button>
  }
</div>
<div class="member-cards">
  @if(isAddingMember()) {
  <div class="member-card">
    <app-member-edit
      [member]="newMember()"
      [allMembers]="members()"
      [collapse]="!isAddingMember()"
      (close)="onNewMemberClose()"
      [canDelete]="false"
    ></app-member-edit>
  </div>
  } @for (member of members(); track member.email) {
  <div class="member-card">
    <app-member-edit
      [member]="member"
      [allMembers]="members()"
      (close)="($event)"
    ></app-member-edit>
  </div>
  }
</div>
}
