@if (loading()) {
<app-spinner></app-spinner>
} @else if (error()) {
<p class="error">Error: {{ error() }}</p>
} @else {
<div class="search-header">
  <div class="search-box">
    <app-icon class="search-icon" name="search"></app-icon>
    <input
      type="text"
      placeholder="Search by name or email"
      (input)="onSearch($event)"
    />
  </div>
  <button (click)="onNewMember()">New Member</button>
</div>
<div class="member-cards">
  @let curSelected = selectedMember(); @if(curSelected && curSelected.id === '')
  {
  <div class="member-card">
    <app-member-edit
      [member]="curSelected"
      [allMembers]="members()"
      (close)="selectedMember.set(null)"
      [canDelete]="false"
    ></app-member-edit>
  </div>
  } @for (member of members(); track member.id) {
  <div class="member-card" (click)="selectedMember.set(member)">
    @if(curSelected === member) {
    <app-member-edit
      [member]="member"
      [allMembers]="members()"
      (close)="selectedMember.set(null)"
    ></app-member-edit>
    } @else {
    <div class="selectable-member-card">
      <div class="member-name">{{ member.name }}</div>
      <div class="member-id">{{ member.memberId }}</div>
      <div class="email">{{ member.email }}</div>
    </div>
    }
  </div>
  }
</div>
}
