<div class="search-container">
  <input
    name="School Name"
    type="text"
    [value]="searchTerm()"
    (input)="onSearchTermChange($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    placeholder="Search for a school..."
  />
  @if (showResults() && filteredSchools().length > 0) {
  <ul class="results-list">
    @for (school of filteredSchools(); track school.id) {
    <li (click)="selectSchool(school)">
      <span class="identifier-chip">{{ school.schoolId }}</span>
      <span> {{ school.schoolName }}</span>
    </li>
    }
  </ul>
  }
</div>
