@let e = editableMember();

<div class="edit-form">
  <div class="edit-form-header" (click)="toggleCollapseState($event)">
    <div class="identifier">
      @if (e.memberId) {
        <span>{{ e.memberId }}</span>
      }
      @if (e.instructorId) {
        <span>-{{ e.instructorId }}</span>
      }
    </div>
    <div class="name">
      @if (e.name.trim() === "") {
        [Name needs to be entered]
      }
      {{ e.name }}
      @if (isDirty()) {
        <span>*</span>
      }
    </div>
    @if (e.isAdmin) {
      <app-icon name="admin"></app-icon>
    }
    <div class="level">
      @if (e.studentLevel) {
        <span>S:{{ e.studentLevel }}</span>
      }
      @if (e.applicationLevel) {
        <span>A:{{ e.applicationLevel }}</span>
      }
    </div>
    <div class="city-and-country">
      @if (e.publicRegionOrCity) {
        <span class="city">{{ e.publicRegionOrCity }}, </span>
      } @else if (e.city) {
        <span class="city">{{ e.city }}, </span>
      }
      {{ e.country }}
    </div>
    <div class="unfold-button">
      <app-icon [name]="collapsed() ? 'expand_more' : 'expand_less'" />
    </div>
  </div>

  @if (!collapsed()) {
    <form #memberForm="ngForm" (ngSubmit)="saveMember()">
      <div class="form-section">
        <p class="timestamp">
          Last updated: {{ e.lastUpdated.toDate().toISOString() }}
        </p>
        <h3>Contact</h3>
        <label for="name">Name</label>
        <div>
          <input
            class="long"
            type="text"
            id="name"
            name="name"
            [(ngModel)]="e.name"
            (ngModelChange)="updateMember()"
            #name="ngModel"
            [disabled]="!canEditPersonalDetails()"
            required
          />
          @if (name.invalid) {
            <div class="error-message">Name is required.</div>
          }
        </div>

        <label for="email">Email</label>
        <div>
          <input
            class="long"
            type="email"
            id="email"
            name="email"
            [(ngModel)]="e.email"
            (ngModelChange)="updateMember()"
            #email="ngModel"
            [disabled]="!canEditPersonalDetails()"
            required
            email
          />
          @if (isDupEmail()) {
            <div class="error-message">
              This email address is already in use.
            </div>
          } @else if (email.invalid) {
            <div class="error-message">Please enter a valid email address.</div>
          }
        </div>

        <label for="address" class="align-top">Address</label>
        <textarea
          class="long"
          id="address"
          name="address"
          [(ngModel)]="e.address"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        ></textarea>

        <label for="city">City</label>
        <input
          type="text"
          id="city"
          name="city"
          [(ngModel)]="e.city"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        />

        <label for="zipCode">Zip Code</label>
        <input
          type="text"
          id="zipCode"
          name="zipCode"
          [(ngModel)]="e.zipCode"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        />

        <label for="country">Country</label>
        <input
          type="text"
          id="country"
          name="country"
          [(ngModel)]="e.country"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        />

        <label for="phone">Phone</label>
        <input
          type="text"
          id="phone"
          name="phone"
          [(ngModel)]="e.phone"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        />

        <label for="gender">Gender</label>
        <input
          type="text"
          id="gender"
          name="gender"
          [(ngModel)]="e.gender"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        />

        <label for="dateOfBirth">Date of Birth</label>
        <input
          class="date"
          type="date"
          id="dateOfBirth"
          name="dateOfBirth"
          placeholder="YYYY-MM-DD"
          [(ngModel)]="e.dateOfBirth"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditPersonalDetails()"
        />

        <h3>Member</h3>
        <label for="memberId">Member ID</label>
        <div>
          <input
            type="text"
            id="memberId"
            name="memberId"
            [(ngModel)]="e.memberId"
            (ngModelChange)="updateMember()"
            #memberId="ngModel"
            [required]="e.id === ''"
            [disabled]="!canEditAllDetails()"
          />
          @if (memberId.invalid) {
            <div class="error-message">Member ID is required.</div>
          } @else if (isDupMemberId()) {
            <div class="error-message">This member ID is already in use.</div>
          }
        </div>

        <label for="sifuMemberId">Student of</label>
        <div class="sifu-search">
          <app-member-search
            [searchTerm]="studentOfMemberId()"
            (searchTermChange)="studentOfMemberId.set($event)"
            (memberSelected)="studendOfSelected($event)"
            [disabled]="!canEditPersonalDetails()"
          ></app-member-search>
          @if (studentOfName()) {
            <div class="sifu-name">{{ studentOfName() }}</div>
          }
        </div>

        <label for="inSchoolId">Managed by</label>
        <div class="school-search">
          <app-school-search
            [searchTerm]="schoolSearch()"
            (searchTermChange)="schoolSearch.set($event)"
            (schoolSelected)="schoolSelected($event)"
            [disabled]="!canEditAllDetails()"
          ></app-school-search>
          @if (schoolName()) {
            <div class="school-name">{{ schoolName() }}</div>
          }
        </div>

        <label for="membershipType">Type</label>
        <select
          id="membershipType"
          name="membershipType"
          [(ngModel)]="e.membershipType"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditMembershipDetails()"
          required
        >
          @for (type of membershipTypes; track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>

        <label for="firstMembershipStarted">First Membership</label>
        <input
          class="date"
          type="date"
          id="firstMembershipStarted"
          name="firstMembershipStarted"
          placeholder="YYYY-MM-DD"
          [(ngModel)]="e.firstMembershipStarted"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditMembershipDetails()"
        />

        <label for="lastRenewalDate">Last Renewal</label>
        <input
          class="date"
          type="date"
          id="lastRenewalDate"
          name="lastRenewalDate"
          placeholder="YYYY-MM-DD"
          [(ngModel)]="e.lastRenewalDate"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditMembershipDetails()"
        />

        @if (e.membershipType !== MembershipType.Life) {
          <label for="currentMembershipExpires">Expires</label>
          <input
            class="date"
            type="date"
            id="currentMembershipExpires"
            name="currentMembershipExpires"
            placeholder="YYYY-MM-DD"
            [(ngModel)]="e.currentMembershipExpires"
            (ngModelChange)="updateMember()"
            [disabled]="!canEditMembershipDetails()"
          />
        }

        <h3>Level</h3>
        <label for="studentLevel">Student</label>
        <input
          type="text"
          id="studentLevel"
          name="studentLevel"
          [(ngModel)]="e.studentLevel"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditMembershipDetails()"
        />

        <label for="applicationLevel">Application</label>
        <input
          type="text"
          id="applicationLevel"
          name="applicationLevel"
          [(ngModel)]="e.applicationLevel"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditMembershipDetails()"
        />

        <label for="mastersLevels">Masters</label>
        <div>
          @for (level of masterLevels; track level) {
            <div class="masterLevel">
              <input
                type="checkbox"
                [checked]="e.mastersLevels.includes(level)"
                (change)="onMasterLevelChange(level, $event.target.checked)"
                [disabled]="!canEditAllDetails()"
              />
              {{ level }}
            </div>
          }
        </div>

        <h3>Instructor</h3>
        <label for="instructorId">Instructor ID</label>
        <input
          type="text"
          id="instructorId"
          name="instructorId"
          [(ngModel)]="e.instructorId"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditAllDetails()"
        />

        <label for="instructorLicenseExpires">License Expires</label>
        <input
          class="date"
          type="date"
          id="instructorLicenseExpires"
          name="instructorLicenseExpires"
          placeholder="YYYY-MM-DD"
          [(ngModel)]="e.instructorLicenseExpires"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditMembershipDetails()"
        />

        @if (e.instructorId) {
          <h3>Public Listing</h3>

          <p>
            Member ID, instructor ID, and graded levels and these details are
            listed on the ILC website.
          </p>

          <label for="instructorWebsite">Website</label>
          <input
            class="long"
            type="text"
            id="instructorWebsite"
            name="instructorWebsite"
            [(ngModel)]="e.instructorWebsite"
            (ngModelChange)="updateMember()"
            [disabled]="!canEditPersonalDetails()"
          />

          <label for="publicEmail">Public Email</label>
          <input
            class="long"
            type="email"
            id="publicEmail"
            name="publicEmail"
            [(ngModel)]="e.publicEmail"
            (ngModelChange)="updateMember()"
            [disabled]="!canEditPersonalDetails()"
          />

          <label for="publicPhone">Public Phone</label>
          <input
            type="text"
            id="publicPhone"
            name="publicPhone"
            [(ngModel)]="e.publicPhone"
            (ngModelChange)="updateMember()"
            [disabled]="!canEditPersonalDetails()"
          />

          <label for="publicRegionOrCity">Public Region/City</label>
          <input
            type="text"
            id="publicRegionOrCity"
            name="publicRegionOrCity"
            [(ngModel)]="e.publicRegionOrCity"
            (ngModelChange)="updateMember()"
            [disabled]="!canEditPersonalDetails()"
          />
        }
        <h3>Admin</h3>
        <label for="isAdmin">Is Admin</label>
        <div class="admin-section">
          <input
            type="checkbox"
            id="isAdmin"
            name="isAdmin"
            [(ngModel)]="e.isAdmin"
            (ngModelChange)="updateMember()"
            [disabled]="!canEditAllDetails()"
          />
          (can edit all members)
        </div>

        <label for="notes" class="align-top">Notes</label>
        <textarea
          class="long"
          id="notes"
          name="notes"
          [(ngModel)]="e.notes"
          (ngModelChange)="updateMember()"
          [disabled]="!canEditAllDetails()"
        ></textarea>
      </div>

      @if (errorMessage().length > 0) {
        <div class="error-container">
          <div class="error-message">
            <ul>
              @for (error of errorMessage(); track error) {
                <li>{{ error }}</li>
              }
            </ul>
          </div>
          <button
            type="button"
            class="icon-only-button"
            (click)="closeErrors()"
          >
            <app-icon name="close" />
          </button>
        </div>
      }
      <div class="form-actions">
        <div class="left-actions">
          @if (isSaving()) {
            <app-spinner></app-spinner>
          } @else {
            @if (isDirty()) {
              <button
                type="submit"
                [disabled]="
                  isDupEmail() || isDupMemberId() || memberForm.invalid
                "
              >
                Save
              </button>
            }
            <button type="button" (click)="cancel($event)">
              @if (isDirty()) {
                Cancel
              } @else {
                Close
              }
            </button>
          }
        </div>
        <div class="right-actions">
          @if (canDelete()) {
            <button class="delete-button" (click)="deleteMember($event)">
              <app-icon name="trash" fill="#000" />
              Delete
            </button>
          }
        </div>
      </div>
    </form>
  }
</div>
