<div class="edit-form">
  <div class="edit-form-header" (click)="toggle($event)">
    <div class="identifier">
      @if (editableMember.memberId) {
      <span>{{ editableMember.memberId }}</span>
      } @if (editableMember.instructorId) {
      <span>-{{ editableMember.instructorId }}</span>
      }
    </div>
    <div class="name">
      @if(editableMember.name.trim() === '') { [Name needs to be entered] }
      {{ editableMember.name }}@if(isDirty()){<span>*</span>}
    </div>
    @if(editableMember.isAdmin) {
    <app-icon name="admin"></app-icon>
    }
    <div class="level">
      @if (editableMember.studentLevel) {
      <span>S:{{ editableMember.studentLevel }}</span>
      } @if (editableMember.applicationLevel) {
      <span>A:{{ editableMember.applicationLevel }}</span>
      }
    </div>
    <div class="country">{{ editableMember.country }}</div>
    <div class="unfold-button">
      <app-icon [name]="collapsed() ? 'expand_more' : 'expand_less'" />
    </div>
  </div>

  @if (!collapsed()) {
  <form #memberForm="ngForm" (ngSubmit)="saveMember()">
    <div class="form-section">
      <h3>Contact</h3>
      <label for="name">Name</label>
      <div>
        <input
          class="long"
          type="text"
          id="name"
          name="name"
          [(ngModel)]="editableMember.name"
          (ngModelChange)="validateForm()"
          #name="ngModel"
          required
        />
        @if(name.invalid) {
        <div class="error-message">Name is required.</div>
        }
      </div>

      <label for="email">Email</label>
      <div>
        <input
          class="long"
          type="email"
          id="email"
          name="email"
          [(ngModel)]="editableMember.email"
          (ngModelChange)="validateForm()"
          #email="ngModel"
          required
          email
        />
        @if (emailExists) {
        <div class="error-message">This email address is already in use.</div>
        } @else if (email.invalid) {
        <div class="error-message">Please enter a valid email address.</div>
        }
      </div>

      <label for="address" class="align-top">Address</label>
      <textarea
        class="long"
        id="address"
        name="address"
        [(ngModel)]="editableMember.address"
        (ngModelChange)="validateForm()"
      ></textarea>

      <label for="city">City</label>
      <input
        type="text"
        id="city"
        name="city"
        [(ngModel)]="editableMember.city"
        (ngModelChange)="validateForm()"
      />

      <label for="zipCode">Zip Code</label>
      <input
        type="text"
        id="zipCode"
        name="zipCode"
        [(ngModel)]="editableMember.zipCode"
        (ngModelChange)="validateForm()"
      />

      <label for="country">Country</label>
      <input
        type="text"
        id="country"
        name="country"
        [(ngModel)]="editableMember.country"
        (ngModelChange)="validateForm()"
      />

      <label for="phone">Phone</label>
      <input
        type="text"
        id="phone"
        name="phone"
        [(ngModel)]="editableMember.phone"
        (ngModelChange)="validateForm()"
      />

      <h3>Member</h3>
      <label for="memberId">Member ID</label>
      <div>
        <input
          type="text"
          id="memberId"
          name="memberId"
          [(ngModel)]="editableMember.memberId"
          (ngModelChange)="isDupMemberId(); validateForm()"
          #memberId="ngModel"
          [required]="editableMember.id === ''"
        />
        @if(memberId.invalid) {
        <div class="error-message">Member ID is required.</div>
        } @else if(memberIdExists) {
        <div class="error-message">This member ID is already in use.</div>
        }
      </div>

      <label for="membershipType">Type</label>
      <select
        id="membershipType"
        name="membershipType"
        [(ngModel)]="editableMember.membershipType"
        (ngModelChange)="validateForm()"
        required
      >
        @for (type of membershipTypes; track type) {
        <option [value]="type">{{ type }}</option>
        }
      </select>

      <label for="membershipExpires">Expires</label>
      <input
        class="date"
        type="date"
        id="membershipExpires"
        name="membershipExpires"
        placeholder="YYYY-MM-DD"
        [ngModel]="editableMember.membershipExpires"
        (ngModelChange)="
          editableMember.membershipExpires = $event; validateForm()
        "
      />

      <label for="sifuMemberId">Sifu Member ID</label>
      <input
        type="text"
        id="sifuMemberId"
        name="sifuMemberId"
        [(ngModel)]="editableMember.sifuMemberId"
        (ngModelChange)="validateForm()"
      />

      <h3>Level</h3>
      <label for="studentLevel">Student</label>
      <input
        type="text"
        id="studentLevel"
        name="studentLevel"
        [(ngModel)]="editableMember.studentLevel"
        (ngModelChange)="validateForm()"
      />

      <label for="applicationLevel">Application</label>
      <input
        type="text"
        id="applicationLevel"
        name="applicationLevel"
        [(ngModel)]="editableMember.applicationLevel"
        (ngModelChange)="validateForm()"
      />

      <label for="mastersLevels">Masters</label>
      <div>
        @for (level of masterLevels; track level) {
        <div class="masterLevel">
          <input
            type="checkbox"
            [checked]="editableMember.mastersLevels.includes(level)"
            (change)="onMasterLevelChange(level, $event.target.checked)"
          />
          {{ level }}
        </div>
        }
      </div>

      <h3>Instructor</h3>
      <label for="instructorId">Instructor ID</label>
      <input
        type="text"
        id="instructorId"
        name="instructorId"
        [(ngModel)]="editableMember.instructorId"
        (ngModelChange)="validateForm()"
      />

      <label for="instructorLicenseExpires">License Expires</label>
      <input
        class="date"
        type="date"
        id="instructorLicenseExpires"
        name="instructorLicenseExpires"
        placeholder="YYYY-MM-DD"
        [ngModel]="editableMember.instructorLicenseExpires"
        (ngModelChange)="
          editableMember.instructorLicenseExpires = $event; validateForm()
        "
      />

      <label for="instructorWebsite">Website</label>
      <input
        class="long"
        type="text"
        id="instructorWebsite"
        name="instructorWebsite"
        [(ngModel)]="editableMember.instructorWebsite"
        (ngModelChange)="validateForm()"
      />

      <h3>Admin</h3>
      <label for="isAdmin">Is Admin</label>
      <div class="admin-section">
        <input
          type="checkbox"
          id="isAdmin"
          name="isAdmin"
          [(ngModel)]="editableMember.isAdmin"
          (ngModelChange)="validateForm()"
        />
        (can edit all members)
      </div>

      <label for="notes" class="align-top">Notes</label>
      <textarea
        class="long"
        id="notes"
        name="notes"
        [(ngModel)]="editableMember.notes"
        (ngModelChange)="validateForm()"
      ></textarea>
    </div>

    @if (errorMessage().length > 0) {
    <div class="error-container">
      <div class="error-message">
        <ul>
          @for(error of errorMessage(); track error) {
          <li>{{ error }}</li>
          }
        </ul>
      </div>
      <button type="button" class="icon-only-button" (click)="closeErrors()">
        <app-icon name="close" />
      </button>
    </div>
    }
    <div class="form-actions">
      <div class="left-actions">
        @if(isSaving()) {
        <app-spinner></app-spinner>
        } @else { @if(isDirty()){
        <button
          type="submit"
          [disabled]="emailExists || memberIdExists || memberForm.invalid"
        >
          Save
        </button>
        }
        <button type="button" (click)="cancel($event)">
          @if(isDirty()){Cancel} @else {Close}
        </button>
        }
      </div>
      <div class="right-actions">
        @if(canDelete()) {
        <button class="delete-button" (click)="deleteMember($event)">
          <app-icon name="trash" fill="#000" />
          Delete
        </button>
        }
      </div>
    </div>
  </form>
  }
</div>
