:host {
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 0.2em;
  // border-bottom: 1px dashed #bbb;
  color: #722;
}

.edit-form {
  @import "../member-details-layout.scss";

  .edit-form-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1em;

    .identifier {
      // Make sure that text beyond 3em is turned into ellipsis
      // The text was being cut off because this element is likely a flex item that
      // was not being allowed to shrink. Setting min-width to 0 allows it to shrink
      // and the ellipsis to be applied correctly.
      width: 6em;
      // min-width: 0; // Allow the element to shrink smaller than its content
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .name {
      font-weight: bold;
    }

    .level {
      display: flex;
      gap: 0.5em;
    }

    .unfold-button {
      margin-left: auto;
    }
  }

  .form-section {
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid transparent;
    transition: border-color 0.3s ease-in-out;

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; /* Ensures padding doesn't affect width */
    }

    textarea {
      resize: vertical;
      min-height: 80px;
    }

    .long {
      grid-column: 2 / 3;
    }

    input[type="date"] {
      width: auto;
      min-width: 120px;
      max-width: 150px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;

      &::placeholder {
        color: #999;
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }

    .error {
      color: red;
      font-size: 0.9em;
    }

    /* Special case for checkbox */
    .admin-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  .form-actions {
    border-top: 1px dashed #bbb;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;

    .left-actions {
      display: flex;
      gap: 1em;
    }
  }
}

:host(.is-open) .form-section {
  border-top-color: #ccc;
}
