h3 {
  margin-top: 0;
}

.form-section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1em;
}

label {
  justify-self: end;
  text-align: right;
}

.value {
  justify-self: start;
}
