@let m = member();

<div class="view-form">
  <div class="view-form-header">
    <div class="identifier">
      @if (m.memberId) {
      <span>{{ m.memberId }}</span>
      } @if (m.instructorId) {
      <span>-{{ m.instructorId }}</span>
      }
    </div>
    <div class="name">
      {{ m.name }}
    </div>
    @if(m.isAdmin) {
    <app-icon name="admin"></app-icon>
    }
    <div class="level">
      @if (m.studentLevel) {
      <span>S:{{ m.studentLevel }}</span>
      } @if (m.applicationLevel) {
      <span>A:{{ m.applicationLevel }}</span>
      }
    </div>
    <div class="country">{{ m.country }}</div>
  </div>

  <div class="form-section">
    <h3>Contact</h3>
    <label>Name</label>
    <div class="value">{{ m.name }}</div>

    <label>Email</label>
    <div class="value">{{ m.email }}</div>

    <label class="align-top">Address</label>
    <div class="value">{{ m.address }}</div>

    <label>City</label>
    <div class="value">{{ m.city }}</div>

    <label>Zip Code</label>
    <div class="value">{{ m.zipCode }}</div>

    <label>Country</label>
    <div class="value">{{ m.country }}</div>

    <label>Phone</label>
    <div class="value">{{ m.phone }}</div>

    <h3>Member</h3>
    <label>Member ID</label>
    <div class="value">{{ m.memberId }}</div>

    <label>Membership Type</label>
    <div class="value">{{ m.membershipType }}</div>

    <label>Membership Expires</label>
    <div class="value">{{ m.membershipExpires }}</div>

    <label>Sifu Member ID</label>
    <div class="value">{{ m.sifuMemberId }}</div>

    <label>Managed by School ID</label>
    <div class="value">{{ m.managingOrgId }}</div>

    <h3>Level</h3>
    <label>Student Level</label>
    <div class="value">{{ m.studentLevel }}</div>

    <label>Application Level</label>
    <div class="value">{{ m.applicationLevel }}</div>

    <label>Masters Levels</label>
    <div class="value">{{ m.mastersLevels.join(", ") }}</div>

    <h3>Instructor</h3>
    <label>Instructor ID</label>
    <div class="value">{{ m.instructorId }}</div>

    <label>Instructor License Expires</label>
    <div class="value">{{ m.instructorLicenseExpires }}</div>

    <label>Instructor Website</label>
    <div class="value">{{ m.instructorWebsite }}</div>

    <h3>Admin</h3>
    <label>Is Admin</label>
    <div class="value">{{ m.isAdmin ? "Yes" : "No" }}</div>
  </div>
</div>
