@use "../../../scss_variables" as *;

:host {
  display: block;
}

.event-list-container {
  max-width: $max-main-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.event-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.error-message {
  color: #d32f2f;
  padding: 0.5em;
  border: 1px solid #d32f2f;
  border-radius: 4px;
  margin-bottom: 1em;
}

.event-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  border-top: 1px solid #ebebeb;
  padding: 1rem 0;
  transition: background-color 0.2s ease;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: #fcfcfc;
  }

  &:active {
    background-color: #f5f5f5;
  }
}

app-event-item {
  display: block;
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.list-search-header {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  margin-left: 0.5em;
  align-items: center;
  justify-content: start; /* Force override global styles */
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;

  .search-icon {
    position: absolute;
    left: 10px;
    color: $text-placeholder;
  }

  input[type="text"] {
    padding: 8px 8px 8px 35px;
    border: 1px solid $border-color-light;
    border-radius: 20px;
    width: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: $focus-ring-color;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }
}

.organise-event-btn {
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  border-radius: 0.3em;
  color: $button-text-color;
  background-color: $button-bg-color;
  border: 1px solid $button-border-color;
  cursor: pointer;
  box-shadow: 0 2px 4px $shadow-color;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  padding: 0.3em 0.4em;
  text-decoration: none;

  &:hover {
    background-color: $button-hover-bg-color;
    box-shadow: 0 4px 8px $shadow-color-hover;
  }

  &:active {
    transform: translateY(2px);
    background-color: $button-active-bg-color;
    box-shadow: 0 1px 2px $shadow-color-active;
  }
}
