// Color Palette
$button-bg-color: #bbf;
$button-border-color: #66a;
$button-text-color: #222;
$button-hover-bg-color: #aae;
$button-active-bg-color: #99d;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-color-hover: rgba(0, 0, 0, 0.15);
$shadow-color-active: rgba(0, 0, 0, 0.2);

$theme-bg-color: #ffeeee;
$theme-border-color: #955;

$theme-chip-bg-color: #eedddd;
$theme-chip-border-color: #caa;

$max-main-width: 800px;
