@if (editableSchool(); as s) {
  <div class="edit-form">
    <div class="edit-form-header" (click)="toggle($event)">
      <div class="identifier">
        @if (s.schoolId) {
          <span>{{ s.schoolId }}</span>
        }
      </div>
      <div class="name">
        @if (s.schoolName.trim() === "") {
          [Name needs to be entered]
        }
        {{ s.schoolName }}
        @if (isDirty()) {
          <span>*</span>
        }
      </div>
      <div class="city-or-country">
        <span class="city">{{ s.schoolCity }}, </span>
        @if (s.schoolCountyOrState) {
          <span class="county-state">{{ s.schoolCountyOrState }}, </span>
        }
        <span class="country">{{ s.schoolCountry }}</span>
      </div>
      <div class="unfold-button">
        <app-icon [name]="collapsed() ? 'expand_more' : 'expand_less'" />
      </div>
    </div>

    @if (!collapsed()) {
      <form (submit)="saveSchool()">
        <div class="form-section">
          @if (userIsSchoolManager()) {
            <p class="members-link" (click)="gotoMembers()">Manage Members</p>
          }
          <h3>School Details</h3>
          <label for="schoolName">School Name</label>
          <div class="rhs">
            <input
              class="long"
              type="text"
              id="schoolName"
              [formField]="form.schoolName"
            />
            @let schoolNameErrors = form.schoolName().errors();
            @if (schoolNameErrors.length > 0 && schoolNameErrors[0]; as error) {
              <div class="error-message">{{ error.message }}</div>
            }
          </div>

          <label for="schoolId">School ID</label>
          <div class="rhs">
            <app-id-assignment
              [initAssignment]="schoolIdAssignment()"
              [canBeUnset]="false"
              [expectedNextId]="expectedNextSchoolId()"
              [canEdit]="userIsAdmin()"
              (assignment)="handleSchoolIdAssignmentChange($event)"
            ></app-id-assignment>
            @if (isDupSchoolId()) {
              <div class="error-message">This school ID is already in use.</div>
            }
          </div>

          <label for="schoolAddress" class="align-top">Address</label>
          <div class="rhs">
            <textarea
              class="long"
              id="schoolAddress"
              [formField]="form.schoolAddress"
            ></textarea>
          </div>

          <label for="schoolCity">City</label>
          <div class="rhs">
            <input
              type="text"
              id="schoolCity"
              [formField]="form.schoolCity"
            />
          </div>

          <label for="schoolZipCode">Zip Code</label>
          <div class="rhs">
            <input
              type="text"
              id="schoolZipCode"
              [formField]="form.schoolZipCode"
            />
          </div>

          <label for="schoolCountyOrState">County/State</label>
          <div class="rhs">
            <input
              type="text"
              id="schoolCountyOrState"
              [formField]="form.schoolCountyOrState"
            />
          </div>

          <label for="schoolCountry">Country</label>
          <div class="rhs">
            <input
              type="text"
              id="schoolCountry"
              [formField]="form.schoolCountry"
            />
          </div>

          <label for="schoolWebsite">Website</label>
          <div class="rhs">
            <input
              class="long"
              type="text"
              id="schoolWebsite"
              [formField]="form.schoolWebsite"
            />
          </div>

          <h3>Management</h3>
          <label for="owner">Owner</label>
          <div class="rhs">
            @if (userIsAdmin()) {
              <app-autocomplete
                name="owner"
                [searchableSet]="membersService.instructors"
                [placeholder]="'Search instructor for owner'"
                [displayFns]="instructorDisplayFns"
                [initSearchTerm]="form.owner().value()"
                (textUpdated)="form.owner().value.set($event)"
              ></app-autocomplete>
            } @else {
              <span class="identifier-chip">{{ s.owner }}</span>
            }
            @if (s.owner === "") {
              <div class="error-message">No owner set</div>
            } @else if (
              membersService.instructors.entriesMap().get(s.owner);
              as ownerData
            ) {
              <div class="note">{{ ownerData.name }}</div>
            } @else {
              <div class="error-message">
                Invalid Owner (Instructor) ID:
                <span class="identifier-chip">{{ s.owner }}</span>
              </div>
            }
          </div>

          <label class="align-top" for="managers">Managers</label>
          <div class="rhs">
            @for (managerMemberId of s.managers; track $index; let i = $index) {
              <div class="member-search-with-details" id="managers">
                @if (userIsAdmin() || userIsSchoolManager()) {
                  <div class="oneLine">
                    <app-autocomplete
                      name="owner"
                      [searchableSet]="membersService.instructors"
                      [placeholder]="'Search instructor for owner'"
                      [displayFns]="instructorDisplayFns"
                      [initSearchTerm]="s.managers[i]"
                      (textUpdated)="updateManagerId(i, $event)"
                    ></app-autocomplete>
                    <button
                      class="icon-only-button"
                      type="button"
                      (click)="removeManager(i)"
                    >
                      <app-icon name="close" />
                    </button>
                  </div>
                }
                @if (s.managers[i] === "") {
                  <div class="error-message">No manager set</div>
                } @else if (
                  membersService.instructors.entriesMap().get(s.managers[i]);
                  as managerData
                ) {
                  <div class="note">
                    @if (!userIsAdmin() && !userIsSchoolManager()) {
                      <span class="identifier-chip">{{ s.managers[i] }}</span>
                    }
                    {{ managerData.name }}
                  </div>
                } @else {
                  <div class="error-message">
                    Invalid Owner (Instructor) ID:
                    <span class="identifier-chip">{{ s.managers[i] }}</span>
                  </div>
                }
              </div>
            }
            @if (userIsAdmin() || userIsSchoolManager()) {
              <button
                type="button"
                (click)="addManager()"
              >
                Add Manager
              </button>
            }
          </div>
        </div>

        @if (errorMessage().length > 0) {
          <div class="error-container">
            <div class="error-message">
              <ul>
                @for (error of errorMessage(); track error) {
                  <li>{{ error }}</li>
                }
              </ul>
            </div>
            <button
              type="button"
              class="icon-only-button"
              (click)="closeErrors()"
            >
              <app-icon name="close" />
            </button>
          </div>
        }
        <div class="form-actions">
          <div class="left-actions">
            @if (isSaving()) {
              <app-spinner></app-spinner>
            } @else {
              @if (isDirty()) {
                <button
                  type="submit"
                  [disabled]="isDupSchoolId() || form().invalid()"
                >
                  Save
                </button>
              }
              <button type="button" (click)="cancel($event)">
                @if (isDirty()) {
                  Cancel
                } @else {
                  Close
                }
              </button>
            }
          </div>
          <div class="right-actions">
            <p class="timestamp">Last updated: {{ s.lastUpdated }}</p>
            @if (canDelete() && userIsAdmin()) {
              <button class="delete-button" (click)="deleteSchool($event)">
                <app-icon name="trash" fill="#000" />
                Delete
              </button>
            }
          </div>
        </div>
      </form>
    }
  </div>
} @else {
  <div class="edit-form">
    <div class="error-container">
      <div class="error-message">
        <p>No school is selected for editing.</p>
      </div>
    </div>
  </div>
}
