@use "../../scss_variables" as *;
@use "../edit-form.scss" as *;

.member-details {
  font-size: small;
}

.oneLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.deleting-status {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text-muted;
}

.progress-message {
  font-size: small;
  font-style: italic;
}
