@use "../../scss_variables" as *;
@use "../edit-form.scss" as *;

.member-details {
  font-size: small;
}

.members-link {
  cursor: pointer;
  font-size: small;
  text-decoration: underline;
  color: blue;
}

.oneLine {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
