<div class="page-layout">
  <div class="tabs">
    <button class="tab-button" [class.active]="activeTab() === 'counters'"
      (click)="setActiveTab('counters')">Counters</button>
    <button class="tab-button" [class.active]="activeTab() === 'country-codes'" (click)="setActiveTab('country-codes')">Country Codes</button>
    <button class="tab-button" [class.active]="activeTab() === 'backups'"
      (click)="setActiveTab('backups')">Backups</button>
    <button class="tab-button" [class.active]="activeTab() === 'content-cache'"
      (click)="setActiveTab('content-cache')">Content Cache</button>
    <button class="tab-button" [class.active]="activeTab() === 'resources'"
      (click)="setActiveTab('resources')">Resources</button>
  </div>

  @if (activeTab() === 'counters') {
  <div class="tab-content">
    <app-counters></app-counters>
  </div>
  }

  @if (activeTab() === 'country-codes') {
  <div class="tab-content">
    <app-country-codes></app-country-codes>
  </div>
  }

  @if (activeTab() === 'backups') {
  <div class="tab-content">
    <app-backups></app-backups>
  </div>
  }

  @if (activeTab() === 'content-cache') {
  <div class="tab-content">
    <app-content-cache></app-content-cache>
  </div>
  }

  @if (activeTab() === 'resources') {
  <div class="tab-content">
    <app-resources></app-resources>
  </div>
  }
</div>